/* Header */
.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.topNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
header {
  /* background-color: #46DFE9; */
  Height: 150px;
  margin-bottom: 20px;
}
header img {
  height: 150px;
  width:200px;
}
header ul {
  color: black;
  font-size: 16pt;
}


/* Body */
body {
  background-image: url("../Images/Background_Image.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}


/* Hero Image */
.heroImg {
  display: flex;
  align-items:center;
}
.content {
  margin: 20px;
  margin-left: 100px;
  padding: 40px;
  background-color: #000000;
  text-align: center;
  width: 500px;
  color: white;
  /* right: 70vw;
  top: 250px; */
  /* z-index: 98; */
}
.content img {
  max-width: 400px;
  max-height:400px;
}
.content button {
  padding: 15px;
  background-color: #4f5fee;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
#btn1, #btn2 {
  margin: 20px;
  padding: 15px;
  background-color: #4f5fee;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
.buttons {
  margin-left: 200px;
}


/* My Skills */
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 30px;
  border: 1pt solid black;
  padding: 350px;
}
.flexContainer img {
  width: 100px;
  height: 100px;
}  
.flexContainer p {
  color: black;
}
.mySkills h1 {
  display: flex;
  justify-content: center;
  color: black;
  border-top: 1pt solid black;
  padding-top: 20px;
}


/* Misc */
h3 {
  color: black;
}
h4 {
  color: black;
}


/* My Work */
.myWork p {
  color: black;
}
.myWork h1 {
  display: flex;
  justify-content: center;
  color: black;
}
.workGrid button {
  padding: 15px;
  background-color: #4f5fee;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
.workGrid img {
  width: 400px;
  height: 200px;
}
.workGrid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  border: 1pt solid black;
  padding: 100px;
}
.myWork button {
  padding: 15px;
  background-color: #4f5fee;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}


/* Footer */
footer ul {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
footer li {
  padding: 0px 7px;
}